.desc-container {
  position: absolute;
  top: 120px;
  justify-content: center;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
}

.desc-slide {
  text-align: center;
}

.desc-slide h1 {
  color: var(--p0);
  font-family: var(--fontFamilyDarling);
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 20px;
}

.desc-slide p {
  color: var(--p0);
  font-family: var(--fontFamily);
  font-weight: 300;
  font-size: 36px;
  margin-bottom: 20px;
  max-width: 31ch
}

@media(max-width: 700px) {
  .desc-slide p {
    font-size: 26px;
    max-width: 31ch;
    line-height: 1.2;
    padding: 0 8px;
  }
  .desc-container {
   top: 40px;
  }
}
