@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--fontFamily);
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: var(--fontFamily);
  font-weight: 600;
  color: var(--p0);
  background: linear-gradient(var(--p2), var(--p2));
  z-index: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%);
}

:root {
  --p0: #ffffff;
  --p1: #216872; /* utilizar no button liner */
  --p2: #5FC0C6; /* utilizar no button liner */
  --p3: #000000;
  --p4: #f2f2f2f2;
  --fontRegular: 400;
  --fontMedium: 500;
  --fontSemiBold: 600;
  --fontFamily: 'Poppins', sans-serif;
  --fontFamilyDarling: 'Ingrid Darling', cursive;
}

[data-anime='scroll'] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

[data-anime='scroll'].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
