.menu-bg {
  background: var(--p0);
  padding: 0 20px;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
}

.logo {
  width: 400px;
  height: 100px;
  object-fit: cover;
}

.lg2 {
  margin: 0 auto;
}

.contato {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.contato li {
  transition: 0.3s ease-in-out;
}

.contato li:hover {
  transform: scale(115%);
}

.nav-bg {
  background: var(--p0);
  border-top: 1px solid var(--p2);
  padding: 0 20px;
}

.nav li {
  z-index: 20;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  height: 40px;
}

.nav a {
  color: var(--p2);
  padding: 8px;
  transition: 0.3s ease-in-out;
}

.nav li:hover {
  transition: 0.3s ease-in-out;
}

.nav li:hover {
  color: var(--p2);
  transform: scale(110%);
}
